/* Matheson Hovi
Section 2
4/3/2024 */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
    padding-left: 10%;
    padding-right: 10%;

.underline {text-decoration: underline;}

.bold {font-weight: bold;}

.justify {text-align: justify;}

.italics {font-style: italic;}

.header{
    text-align: center;
    font-size: 30px;
    margin-left: 220px;
}

li {
    font-weight: normal;
}

ul {
    font-weight: normal;
}

ol {
    font-weight: normal;
}